.invalid {
    color: #dc3545;
    font-size: 80%;
  }

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #212529;
    font-size: 1.5vw;
}
.footer {
    height: 10%;
    background-color: #212529;
}

.cueCell {
    background-color: grey;
}

.cueTable {
    background-color: #212529;
}

.darkChange {
    color: 	#a4ffaf !important;
}

.hotChange {
    color: #ff7878 !important;
}

.easyChange {
    color: #a886ff !important;
}

.noChange {
    color: #84a5ff;
}
