{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col"><h2 class="text-light projectSettingsHeader">PROJECT SETUP</h2></div>
    </div>
    {% include "_modal.html" %}
    <div class="accordion" id="projectSettings">
        <div class="accordion-item">
          <h2 class="accordion-header" id="followspotHeader">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#followspotCollapse" aria-expanded="true" aria-controls="followspotCollapse">
              FOLLOWSPOTS
            </button>
          </h2>
          <div id="followspotCollapse" class="accordion-collapse collapse show" aria-labelledby="followspotHeader" data-bs-parent="#projectSettings">
            <div class="accordion-body">
                <!--Followspots-->
                <nav class="navbar navbar-dark bg-dark sticky-top navbar-custom">
                    <a class="navbar-brand" href="#">Followspots</a>
                    <div class="btn-toolbar" role="toolbar" aria-label="Followspots toolbar">
                        <button class="createFollowspot btn btn-secondary" type="button" name="button">Add Followspot</button>
                    </div>
                </nav>
                <table class="table table-hover table-custom">
                    <thead>
                    <tr>
                        <th scope="col">Spot Type</th>
                        <th scope="col">Wattage</th>
                        <th scope="col">Available</th>
                        <th scope="col">Dimmer Controlled?</th>
                    </tr>
                    </thead>
                    {% if spotList %}
                    <tbody>
                        {% for spot in spotList %}
                            <tr>
                                <td class="editable" data-id="{{ spot.id }}" data-input="text" data-type="spotType" scope="row" data-model="followspot">{{spot.spotType}}</td>
                                <td class="editable" data-id="{{ spot.id }}" data-input="text" data-type="wattage" data-model="followspot"> {{spot.wattage}}</td>
                                <td class="editable" data-id="{{ spot.id }}" data-input="text" data-type="available" data-model="followspot">{{spot.available}}</td>
                                <td class="editable" data-id="{{ spot.id }}" data-input="text" data-type="dimmerControlled" data-model="followspot">{{spot.dimmerControlled}}</td>
                        {% endfor %}
                    </tbody>
                    {% endif %}
                </table>
                <!--Operators-->
                <nav class="navbar navbar-dark bg-dark sticky-top navbar-custom">
                    <a class="navbar-brand" href="#">Operators</a>
                    <div class="btn-toolbar" role="toolbar" aria-label="Operators toolbar">
                        <button class="createOperator btn btn-secondary" type="button" name="button">Add Operator</button>
                    </div>
                </nav>
                <table class="table table-hover table-custom">
                    <thead>
                    <tr>
                        <th scope="col">Number</th>
                        <th scope="col">Operator Name</th>
                        <th scope="col">Followspot</th>
                    </tr>
                    </thead>
                    {% if opList %}
                    <tbody>
                        {% for operator in opList %}
                            <tr>
                                <td class="editable" data-id="{{ operator.id }}" data-input="text" data-type="operatorNumber" scope="row" data-model="operator">{{operator.operatorNumber}}</td>
                                <td class="editable" data-id="{{ operator.id }}" data-input="text" data-type="operatorName" data-model="operator"> {{operator.operatorName}}</td>
                                <td class="editable" data-id="{{ operator.id }}" data-input="choice" data-type="followspotType" data-model="operator">{{operator.followspotType}}</td>
                                <td class="editable" data-id="{{ operator.id }}" data-input="text" data-type="notes" data-model="operator">{{operator.notes}} </td>
                                <!--<td class="editable" data-id="{{ operator.id }}" data-input="text" data-type="user" data-model="operator">{{operator.shareNode.profile}} </td>-->
                        {% endfor %}
                    </tbody>
                    {% endif %}
                </table>
                <!--Color Flags-->
                <nav class="navbar navbar-dark bg-dark sticky-top navbar-custom">
                    <a class="navbar-brand" href="#">Color Flags</a>
                    <div class="btn-toolbar" role="toolbar" aria-label="Color Flags Toolbar">
                        <button class="createColorFlag btn btn-secondary" type="button" name="button">Add Color Flag</button>
                    </div>
                </nav>
                <table class="table table-hover table-custom">
                    <thead>
                    <tr>
                        <th scope="col">Index</th>
                        <th scope="col">Color</th>
                    </tr>
                    </thead>
                    {% if colorList %}
                    <tbody>
                        {% for color in colorList %}
                            <tr>
                                <td class="editable" data-id="{{ color.id }}" data-input="text" data-type="index" scope="row" data-model="colorFlag">{{color.index}}
                                </td>
                                <td class="editable" data-id="{{ color.id }}" data-input="text" data-type="color1" data-model="colorFlag"> {{color.color1}}
                                    <span class="dot" style= "height: 25px; width: 25px; background-color:{{color.color1.colorHex}}; border-radius: 50%;display: inline-block;">
                                    </span>
                                </td>
                        {% endfor %}
                    </tbody>
                    {% endif %}
                </table>
                <!--Shots-->
                <nav class="navbar navbar-dark bg-dark sticky-top navbar-custom">
                    <a class="navbar-brand" href="#">Shot Types</a>
                    <div class="btn-toolbar" role="toolbar" aria-label="Shots Toolbar">
                        <button class="createShot btn btn-secondary" type="button" name="button">Add Shot Type</button>
                    </div>
                </nav>
                <table class="table table-hover table-custom">
                    <thead>
                    <tr>
                        <th scope="col">Shot Description</th>
                    </tr>
                    </thead>
                    {% if shots %}
                    <tbody>
                        {% for shot in shots %}
                            <tr>
                                <td class="editable" data-id="{{ shot.id }}" data-input="text" data-type="index" scope="row" data-model="shot">{{shot.shotDescr}}
                                </td>
                        {% endfor %}
                    </tbody>
                    {% endif %}
                </table>
                <!--Focus-->
                <nav class="navbar navbar-dark bg-dark sticky-top navbar-custom">
                    <a class="navbar-brand" href="#">Focus List</a>
                    <div class="btn-toolbar" role="toolbar" aria-label="Focus Toolbar">
                        <button class="createFocus btn btn-secondary" type="button" name="button">Add Focus</button>
                    </div>
                </nav>
                <table class="table table-hover table-custom">
                    <thead>
                    <tr>
                        <th scope="col">Focus Description</th>
                        <td></td>
                    </tr>
                    </thead>
                    {% if focusList %}
                    <tbody>
                        {% for focus in focusList %}
                            <tr>
                                <td class="editable" data-id="{{ focus.id }}" data-input="text" data-type="index" scope="row" data-model="focus">{{focus.focusDescr}}</td>
                                <td>
                                    <a href="deleteFocus/{{focus.id}}" class="btn btn-danger"><i class="fa fa-trash-alt"> </i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    {% endif %}
                </table>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="cueListHeader">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#cueListCollapse" aria-expanded="true" aria-controls="cueListCollapse">
                CUE LISTS
              </button>
            </h2>
            <div id="cueListCollapse" class="accordion-collapse collapse show" aria-labelledby="cueListHeader" data-bs-parent="#projectSettings">
              <div class="accordion-body">
                <!--Cue List-->
                <div class="row">
                    <div class="col"><h3 class="text-light">CUE LIST SETUP</h3></div>
                </div>
                <nav class="navbar navbar-dark bg-dark sticky-top navbar-custom">
                    <a class="navbar-brand" href="#">CUE LISTS </a>
                    <div class="btn-toolbar" role="toolbar" aria-label="CueLists Toolbar">
                        <button class="createFocus btn btn-secondary" type="button" name="button">Add Cue List</button>
                    </div>
                </nav>
                <table class="table table-hover table-custom">
                    <thead>
                    <tr>
                        <th scope="col">Cue List Label</th>
                        <th scope="col">EOS Cue List Number</th>
                        <td></td>
                    </tr>
                    </thead>
                    {% if cueLists %}
                    <tbody>
                        {% for cueList in cueLists %}
                            <tr>
                                <td class="editable" data-id="{{ cueList.id }}" data-input="text" data-type="index" scope="row" data-model="cueList">{{cueList.listName}}</td>
                                <td class="editable" data-id="{{ cueList.id }}" data-input="text" data-type="index" scope="row" data-model="cueList">{{cueList.cueListNumber}}</td>
                                <td>
                                    <a href="deleteCueList/{{cueList.id}}" class="btn btn-danger"><i class="fa fa-trash-alt"> </i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    {% endif %}
                </table>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="sharingHeader">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#sharingCollapse" aria-expanded="true" aria-controls="sharingCollapse">
                USERS AND SHARING
              </button>
            </h2>
            <div id="sharingCollapse" class="accordion-collapse collapse show" aria-labelledby="sharingHeader" data-bs-parent="#projectSettings">
              <div class="accordion-body">
                <!--Collaborators-->
                    <!--Assistants-->
                    <nav class="navbar navbar-dark bg-dark sticky-top navbar-custom">
                        <a class="navbar-brand" href="#">Shared Users</a>
                        <div class="btn-toolbar" role="toolbar" aria-label="Color Flags Toolbar">
                            <button class="btn btn-secondary" type="button" name="button">Add Collaborator</button>
                        </div>
                    </nav>
                    <table class="table table-hover table-custom">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Username</th>
                            <th scope="col">Role</th>
                        </tr>
                        </thead>
                        {% if shareNodes %}
                        <tbody>
                            {% for node in shareNodes %}
                                <tr>
                                    <td>
                                        {{node.profile.getName}}
                                    </td>
                                    <td> 
                                        {{node.profile}}
                                    </td>
                                    <td class="editable" data-id="{{ color.id }}" data-input="choice" data-type="role" data-model="shareNode">{{node.getRole}}
                                    </td>
                            {% endfor %}
                        </tbody>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>


{% endblock content %}


{% block extrascripts %}
<script type="text/javascript">
    $(document).ready(function() {
    
        //Create modal and direct to template url
        $(".createOperator").modalForm({
            formURL: "{% url 'createOperator' %}"
        });

        $(".createFollowspot").modalForm({
            formURL: "{% url 'createFollowspot' %}"
        });

        $(".createColorFlag").modalForm({
            formURL: "{% url 'createColorFlag' %}"
        });
        $(".createShot").modalForm({
            formURL: "{% url 'createShot' %}"
        });
        $(".createFocus").modalForm({
            formURL: "{% url 'createFocus' %}"
        });

        $(document).on("click",".editable",function(){
            var value=$(this).text();
            var data_type=$(this).data("type");
            var data_input=$(this).data("input");

            //Editable table - Choice selections
            //This will be used for model fields - Operator, Focus, Shot, ColorFlag
            if(data_input == "choice"){
                if(data_type=="followspotType")
                {
                    var input="<select class='input-data form-control'> {% for spot in spotList %} <option label='{{spot}}' value='{{spot.id}}'> {{spot}} </option> {% endfor %} </select>";
                    $(this).html(input);
                    $(this).removeClass("editable")
                }
                if(data_type=="color1")
                {
                    var input="<select class='input-data form-control'> {% for color in colors %} <option label='{{color}}' value='{{color.id}}'> {{color}} </option> {% endfor %} </select>";
                    $(this).html(input);
                    $(this).removeClass("editable")
                }
                if(data_type=="role")
                {
                    var input="<select class='input-data form-control'> {% for color in colors %} <option label='{{node.getRole}}' value='{{node.id}}'> {{node}} </option> {% endfor %} </select>";
                    $(this).html(input);
                    $(this).removeClass("editable")
                }
            }
            //Editable table - Text/Integer input
            //This will be used for all Cue fields, and for Intensity and Fade Time
            else{
                var input_type="text";
                if(data_type=="created_at")
                {
                    input_type="datetime-local";
                }
                var input="<input type='"+input_type+"' class='input-data' value='"+value+"' class='form-control'>";
                $(this).html(input);
                $(this).removeClass("editable")
            }
        });
        $(document).on("blur",".input-data",function(){
            var value=$(this).val();
            var td=$(this).parent("td");
            $(this).remove();
            td.html(value);
            td.addClass("editable");
            var type=td.data("type");
            var model = td.data("model")
            sendToServer(td.data("id"),value,type, model);
        });


        $(document).on("keypress",".input-data",function(e){
            var key=e.which;
            if(key==13){
                var value=$(this).val();
                var td=$(this).parent("td");
                $(this).remove();
                td.html(value);
                td.addClass("editable");
                var type=td.data("type");
                var model = td.data("model")
                sendToServer(td.data("id"),value,type, model);
            }
        });
        function sendToServer(id,value,type, model){
            console.log(id);
            console.log(value);
            console.log(type);
            if(model == "followspot"){
                $.ajax({
                url:"updateFollowspot/",
                type:"POST",
                data:{id:id,type:type,value:value},
                })
                .done(function(response){
                    console.log(response);
                })
                .fail(function(){
                    console.log("Error Occured");
                });
            }
            else if(model == "operator"){
                $.ajax({
                url:"updateOperator/",
                type:"POST",
                data:{id:id,type:type,value:value},
                })
                .done(function(response){
                    console.log(response);
                })
                .fail(function(){
                    console.log("Error Occured");
                });
            }
            else if(model == "colorFlag"){
                $.ajax({
                url:"updateColorFlag/",
                type:"POST",
                data:{id:id,type:type,value:value},
                })
                .done(function(response){
                    console.log(response);
                })
                .fail(function(){
                    console.log("Error Occured");
                });
            }

            //Reload page elements
            location.reload();
        }
    });
</script>
{% endblock extrascripts %}