<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>LightLine | Followspot Tracking
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    </head>
    <body>
        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">Cue Number</th>
                <th scope="col">Label</th>
                <th scope="col">Page</th>
                <th scope="col">Operator</th>
                <th scope="col">Focus</th>
                <th scope="col">Shot</th>
                <th scope="col">Intensity</th>
                <th scope="col">Color</th>
                <th scope="col">Time</th>
              </tr>
            </thead>
            {% if spotCueList %}
            <tbody>
                {% for spotCue in spotCueList %}
                    <tr class="table-dark">
                        <th scope="row">{{spotCue.eosCueNumber}}</th>
                        <td>{{spotCue.cueLabel}}</td>
                        <td>{{spotCue.pageNumber}}</td>
                    </tr>

                        {% for action in spotCue.getActions %}
                            <tr>
                                <th scope="row">{{spotCue.eosCueNumber}}</th>
                                <td></td>
                                <td></td>
                                <td>{{action.operator}}</td>
                                <td>{{action.focus}}</td>
                                <td>{{action.shotType}}</td>
                                <td>{{action.intensity}}</td>
                                <td>{{action.color}} 
                                    <span class="dot" style= "height: 25px; width: 25px; background-color:#bbb; border-radius: 50%;
                                    display: inline-block;"></span>
                                </td>
                                <td>{{action.fadeTime}}</td>
                            </tr>
                        {% endfor %}
                {% endfor %}
            </tbody>
            {% endif %}
        </table>   
    </body>
</html>