{% extends 'landingBase.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-4"></div>
        <div class="col">
            <h2>Light Line</h2>
        </div>
        <div class="col-4"></div>
    </div>

    <div class="row">
        <div class="col-4"></div>
        <div class="col">
            <div class="jumbotron">
                <h2>Login</h2>
                <div class="form-group">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
{% endblock %}
