{% extends 'base.html' %}

{% block content %}

    {% include "_modal.html" %}
    <nav class="navbar navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" href="#">Followspot Tracking</a>
        <div class="btn-toolbar" role="toolbar" aria-label="Followspot Tracking toolbar">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button class="createAction btn btn-secondary"type="button" name="button">Add Followspot Action</button>
                <button class="createFocus btn btn-secondary"type="button" name="button">Add Focus</button>
                <button class="btn btn-secondary"type="button" name="button">Print Paperwork</button>
            </div>
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{activeCueList}}
                </button>
                {% if projectCueLists %}
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    {% for cueList in projectCueLists %}
                        <form method="POST" action="/lightlineapp/switchActiveCueList/">
                            {% csrf_token %}
                            <button class="dropdown-item btn-secondary" type="submit">
                                {{ cueList }}
                                <input type="hidden" name="cueList" value="{{ cueList.id }}">
                                <input type="hidden" name="next" value="{{ request.path }}">
                            </button>
                        </form>
                    {% endfor %}
                    <a class="dropdown-item btn-secondary" href="#">Create New Cue List</a>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>
    <table class="table table-dark table-hover">
        <thead>
        <tr class="tableHead">
            <th scope="col">Cue Number</th>
            <th scope="col">Label</th>
            <th scope="col">Page</th>
            <th scope="col">Operator</th>
            <th scope="col">Focus</th>
            <th scope="col">Shot</th>
            <th scope="col">Intensity</th>
            <th scope="col">Color</th>
            <th scope="col">Time</th>
            <th scope="col"></th>
        </tr>
        </thead>
        {% if cueList %}
        <tbody>
            {% for cue in cueList %}
                <tr class="cueCell">
                    <td data-id="{{ cue.id }}" data-input="text" data-type="eosCueNumber" scope="row" data-model="cue">{{cue.eosCueNumber}}</td>
                    <td data-id="{{ cue.id }}" data-input="text" data-type="cueLabel" data-model="cue"> {{cue.cueLabel}}</td>
                    <td data-id="{{ cue.id }}" data-input="text" data-type="pageNumber" data-model="cue">{{cue.pageNumber}}</td>
                    <td></td>
                    <td></td>                    
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="deleteCue/{{cue.id}}" class="btn btn-danger"><i class="fa fa-trash-alt"> </i></a>
                    </td>
                </tr>

                    {% for action in cue.getActions %}
                        <tr>
                            <td class="editable" data-id="{{ action.id }}" data-type="eosCueNumber" scope="row" data-model="Action"><b>{{cue.eosCueNumber}}</b></td>
                            <td></td>
                            <td></td>
                            <td class="editable" data-id="{{ action.id }}" data-input="choice" data-type="operator" data-model="Action">{{action.operator}}</td>
                            <td class="editable {{action.getFocusClass}}" data-id="{{ action.id }}" data-input="choice" data-type="focus" data-model="Action">{{action.focus}}</td>
                            <td class="editable {{action.getShotTypeClass}}" data-id="{{ action.id }}" data-input="choice" data-type="shotType" data-model="Action">{{action.shotType}}</td>
                            <td class="editable {{action.getIntensityClass}}" data-id="{{ action.id }}" data-input="text" data-type="intensity" data-model="Action">{{action.intensity}}</td>
                            <td class="editable {{action.getColorFlagClass}}" data-id="{{ action.id }}" data-input="choice" data-type="colorFlag" data-model="Action">{{action.getColorOne}} 
                                <span class="dot" style= "height: 25px; width: 25px; background-color:{{action.getColorOne.colorHex}}; border-radius: 50%; display: inline-block;"></span>
                            </td>
                            <td class="editable {{action.getTimeClass}}" data-id="{{ action.id }}" data-type="fadeTime" data-model="Action" >{{action.fadeTime}}</td>
                            <td>
                                <a href="deleteAction/{{action.id}}" class="btn btn-danger"><i class="fa fa-trash-alt"> </i></a>
                            </td>
                        </tr>
                    {% endfor %}
            {% endfor %}
        </tbody>
        {% endif %}
    </table>
{% endblock content %}

{% block extrascripts %}
<script type="text/javascript">
    $(document).ready(function() {
    
        $(".createAction").modalForm({
            formURL: "{% url 'createAction' %}"
        });
        $(".createFocus").modalForm({
            formURL: "{% url 'createFocus' %}"
        });

        $(document).on("click",".editable",function(){
            var value=$(this).text();
            var data_type=$(this).data("type");
            var data_input=$(this).data("input");

            //Editable table - Choice selections
            //This will be used for model fields - Operator, Focus, Shot, ColorFlag
            if(data_input == "choice"){
                if(data_type=="operator")
                {
                    var input="<select class='input-data form-control'> {% for operator in projectOperators %} <option label='{{operator}}' value='{{operator.id}}'> {{operator}} </option> {% endfor %} </select>";
                    $(this).html(input);
                    $(this).removeClass("editable")
                }
                if(data_type=="focus")
                {
                    var input="<select class='input-data form-control'> {% for focus in projectFocus %} <option label='{{focus}}' value='{{focus.id}}'> {{operator}} </option> {% endfor %} </select>";
                    $(this).html(input);
                    $(this).removeClass("editable")
                }
                if(data_type=="shotType")
                {
                    var input="<select class='input-data form-control'> {% for shot in shots %} <option label='{{shot}}' value='{{shot.id}}'> {{shot}} </option> {% endfor %} </select>";
                    $(this).html(input);
                    $(this).removeClass("editable")
                }
                if(data_type=="colorFlag")
                {
                    var input="<select class='input-data form-control'> {% for colorFlag in projectColorFlags %} <option label='{{colorFlag}}' value='{{colorFlag.id}}'> {{colorFlag}} </option> {% endfor %} </select>";
                    $(this).html(input);
                    $(this).removeClass("editable")
                }

            }
            //Editable table - Text/Integer input
            //This will be used for all Cue fields, and for Intensity and Fade Time
            else{
                var input_type="text";
                if(data_type=="created_at")
                {
                    input_type="datetime-local";
                }

                var input="<input type='"+input_type+"' class='input-data' value='"+value+"' class='form-control'>";
                $(this).html(input);
                $(this).removeClass("editable")
            }
        });
        $(document).on("blur",".input-data",function(){
            var value=$(this).val();
            var td=$(this).parent("td");
            $(this).remove();
            td.html(value);
            td.addClass("editable");
            var type=td.data("type");
            var model = td.data("model")
            sendToServer(td.data("id"),value,type, model);
        });


        $(document).on("keypress",".input-data",function(e){
            var key=e.which;
            if(key==13){
                var value=$(this).val();
                var td=$(this).parent("td");
                $(this).remove();
                td.html(value);
                td.addClass("editable");
                var type=td.data("type");
                var model = td.data("model")
                sendToServer(td.data("id"),value,type, model);
            }
        });
        function sendToServer(id,value,type, model){
            console.log(id);
            console.log(value);
            console.log(type);
            if(model == "cue"){
                $.ajax({
                url:"updateCue/",
                type:"POST",
                data:{id:id,type:type,value:value},
                })
                .done(function(response){
                    console.log(response);
                })
                .fail(function(){
                    console.log("Error Occured");
                });
            }
            else if(model == "Action"){
                $.ajax({
                url:"updateAction/",
                type:"POST",
                data:{id:id,type:type,value:value},
                })
                .done(function(response){
                    console.log(response);
                })
                .fail(function(){
                    console.log("Error Occured");
                });
            }
            //Reload page elements
            location.reload();
        }
    });
</script>
{% endblock extrascripts %}