{% extends 'base.html' %}

{% block content %}

    {% include "_modal.html" %}
    <div class="row no-gutters">
        <!--SIDEBAR-->
            <div class="col-2">
                <nav class="col d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                            <span data-feather="home"></span>
                            Dashboard <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                            <span data-feather="file"></span>
                            Orders
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                            <span data-feather="shopping-cart"></span>
                            Products
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                            <span data-feather="users"></span>
                            Customers
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                            <span data-feather="bar-chart-2"></span>
                            Reports
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                            <span data-feather="layers"></span>
                            Integrations
                            </a>
                        </li>
                    </ul>
        
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Saved reports</span>
                    <a class="d-flex align-items-center text-muted" href="#">
                        <span data-feather="plus-circle"></span>
                    </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                        <span data-feather="file-text"></span>
                        Current month
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                        <span data-feather="file-text"></span>
                        Last quarter
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                        <span data-feather="file-text"></span>
                        Social engagement
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                        <span data-feather="file-text"></span>
                        Year-end sale
                        </a>
                    </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col">
            <div class="row no-gutters">
                <div class="col">
                    <nav class="navbar navbar-dark bg-dark sticky-top">
                        <a class="navbar-brand" href="#">Followspot Tracking</a>
                        <div class="btn-toolbar" role="toolbar" aria-label="Followspot Tracking toolbar">
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <button class="save btn btn-primary" type="button" name="button">Save</button>
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <button class="createSpotCue btn btn-secondary" type="button" name="button">Add Spot Cue</button>
                                <button class="createAction btn btn-secondary"type="button" name="button">Add Followspot Action</button>
                                <button class="createOperator btn btn-secondary"type="button" name="button">Add Operator</button>
                                <button class="createFocus btn btn-secondary"type="button" name="button">Add Focus</button>
                                <button class="updateColorFlags btn btn-secondary"type="button" name="button">Setup Boomerang</button>
                                <button class="btn btn-secondary"type="button" name="button">Setup Inventory</button>
                                <button class="btn btn-secondary"type="button" name="button">Print Paperwork</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Cue List Linking
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    <a class="dropdown-item" href="#">Local Cue List</a>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col cueTable">
                    <table class="table table-dark table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Cue Number</th>
                            <th scope="col">Label</th>
                            <th scope="col">Page</th>
                            <th scope="col">Operator</th>
                            <th scope="col">Focus</th>
                            <th scope="col">Shot</th>
                            <th scope="col">Intensity</th>
                            <th scope="col">Color</th>
                            <th scope="col">Time</th>
                        </tr>
                        </thead>
                        {% if spotCueList %}
                        <tbody>
                            {% for spotCue in spotCueList %}
                                <tr class="cueCell">
                                    <th scope="row">{{spotCue.eosCueNumber}}</th>
                                    <td>{{spotCue.cueLabel}}</td>
                                    <td>{{spotCue.pageNumber}}</td>
                                </tr>

                                    {% for action in spotCue.getActions %}
                                        <tr>
                                            <th scope="row">{{spotCue.eosCueNumber}}</th>
                                            <td></td>
                                            <td></td>
                                            <td>{{action.operator}}</td>
                                            <td>{{action.focus}}</td>
                                            <td>{{action.shotType}}</td>
                                            <td>{{action.intensity}}</td>
                                            <td>{{action.getColorOne}} 
                                                <span class="dot" style= "height: 25px; width: 25px; background-color:{{action.getColorOne.colorHex}}; border-radius: 50%;
                                                display: inline-block;"></span>
                                                {% if action.getColorTwo != "NC" %}
                                                    {{action.getColorTwo}}
                                                    <span class="dot" style= "height: 25px; width: 25px; background-color:#bbb; border-radius: 50%;
                                                    display: inline-block;"></span>
                                                {% endif %}
                                            </td>
                                            <td>{{action.fadeTime}}</td>
                                        </tr>
                                    {% endfor %}
                            {% endfor %}
                        </tbody>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extrascripts %}
<script type="text/javascript">
    $(document).ready(function() {
    
        $(".createSpotCue").modalForm({
            formURL: "{% url 'createSpotCue' %}"
        });
        $(".createAction").modalForm({
            formURL: "{% url 'createAction' %}"
        });
        $(".createOperator").modalForm({
            formURL: "{% url 'createOperator' %}"
        });
        $(".createFocus").modalForm({
            formURL: "{% url 'createFocus' %}"
        });
    
    });
</script>
{% endblock extrascripts %}