{% extends 'landingBase.html' %}

{% block title %}Sign Up{% endblock %}


{% block content %}
  <div class="row">
    <div class="col-4"></div>
    <div class="col">
        <h2>Light Line</h2>
    </div>
    <div class="col-4"></div>
  </div>

  <div class="row">
    <div class="col-4"></div>
    <div class="col">
        <div class="jumbotron">

          <h2>Sign up</h2>
          <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <p>
              {{ field.label_tag }}<br>
              {{ field }}
              {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
              {% endif %}
              {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
            </p>
          {% endfor %}
                  <button type="submit">Sign up</button>
          </form>
        </div>
      </div>
    <div class="col-4"></div>
  </div>
{% endblock %}
