{% extends 'landingBase.html' %}

{% block content %}
 
 
  {% load static %}

  <!-- Navigation -->
  <nav class="navbar navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">LIGHT LINE</a>
      <a class="btn btn-primary" href="login\#">Sign In</a>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead text-white text-center" style="background: url('{% static 'assets/img/masthead.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="row">
            <h1 class="mb-5">A functional, collaborative, and efficient approach to lighting paperwork.</h1>
          </div>
          <div class="row">
            <h2 class="mb-5"> From followspot tracking to instrument schedules, they're all here and ready to be shared with collaborators.</h2>
          </div>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form action="signup\#">
            <div class="form-row">
                <button type="submit" class="btn btn-block btn-lg btn-primary">Start now</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>
{% endblock content %}
